.btn {
  width: 269px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 2px;
  
  &--red {
    border: 1px solid rgba(198, 107, 109, 0.7);
    background-color: rgba(198, 107, 109, 0.8);
  }
  
  &--blue {
    border: 1px solid rgba(113, 184, 160, 0.7);
    background-color: rgba(113, 184, 160, 0.5);
  }
}
