.header {
  padding-top: 35px;
  padding-left: 85px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__mail,
.header__phone {
  position: relative;
  padding-left: 35px;
  color: #666666;
  letter-spacing: 0.075em;
  
  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
  }
  
  &:hover,
  &:active {
    text-decoration: underline;
  }
}

.header__phone {
  &::before {
    background-image: url(../img/icon-phone.png);
  }
}

.header__mail {
  margin-left: 80px;
  
  &::before {
    background-image: url(../img/icon-mail.png);
  }
}

.header__link {
  position: relative;
  margin-left: auto;
  padding-right: 40px;
  color: #c66b6d;
  text-decoration: underline;
  
  &::after {
    content: "";
    position: absolute;
    top: 5px;
    right: 0;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-image: url(../img/icon-link.png);
  }
  
  &:hover,
  &:active {
    text-decoration: none;
  }
}
